<p id="notice"><%= notice %></p>




<h3>Rates</h3>
<div>
  <% @shipping_rate.get_rates.each do |rate| %>
    <div>
      <p>
        Cost: <%= rate[:amount] %>
      </p>
      <p>
        Service Type Code: <%= rate[:service_type] %>
      </p>
      <p>
        Package Type: <%= rate[:package_type] %>
      </p>
      <p>
        Delivery Time: <%= rate[:deliver_days] %>
      </p>
      <p>
        <ul>
        <% rate[:add_ons][:add_on_v4].each do |add_on| %>
          <li>
            Add on Type: <%= add_on[:add_on_type] %>
            <% if add_on[:requires_all_of] %>
              <ul>
                <% if add_on[:requires_all_of][:requires_one_of][:add_on_type_v4].length < 1 %>
                <% add_on[:requires_all_of][:requires_one_of][:add_on_type_v4].each do |type| %>
                  <li>Required add ons: <%= type %></li>
                <% end %>
                <% else %>
                  Required add ons: <%= add_on[:requires_all_of][:requires_one_of][:add_on_type_v4] %>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
        </ul>
      </p>
      <p>
        <%=  %>
      </p>
      <br>
    </div>
  <% end %>
</div>

<p>
  <b>From zip code:</b>
  <%= @shipping_rate.from_zip_code %>
</p>

<p>
  <b>To zip code:</b>
  <%= @shipping_rate.to_zip_code %>
</p>

<p>
  <b>Weight:</b>
  <%= @shipping_rate.weight %>
</p>

<p>
  <b>Ship date:</b>
  <%= @shipping_rate.ship_date %>
</p>

<p>
  <b>Service type:</b>
  <%= @shipping_rate.service_type %>
</p>

<p>
  <b>Package type:</b>
  <%= @shipping_rate.package_type %>
</p>


<%= link_to 'Edit', edit_shipping_rate_path(@shipping_rate) %> |
<%= link_to 'Back', shipping_rates_path %>


