<%= fields_for @shipping_label do |f| %>
	<% @shipping_label.available_add_ons.each do |code, add_on| %>  
	  <div id ="<%= code %>">
		  <%= f.check_box :add_on_codes, { :id => "shipping_label_#{code}", :name => :"shipping_label[add_on_codes][]" }, code, nil %>
	    <%= f.label code, Stamps::Types::ADD_ONS[code] %>
    </div>

    <% if code == "US-A-INS" %>
      <div class="insurance">
        <%= f.label :insurance_amount %><br>
        <%= f.text_field :insurance_amount %>
      </div>
    <% end %>

    <% if code == "US-A-COD" %>
      <div class="cod">
        <%= f.label :collect_on_delivery, "COD amount" %><br>
        <%= f.text_field :collect_on_delivery %>
      </div>
    <% end %>
    
    <% unless add_on["required_add_ons"].blank? %>
      <% add_on["required_add_ons"].each do |r| %>
        <%= f.hidden_field :available_add_ons, :name => "shipping_label[available_add_ons][" + code + "][required_add_ons][]", :value => r %>
      <% end %>
    <% end %>

    <% unless add_on["prohibited_add_ons"].blank? %>
      <% add_on["prohibited_add_ons"].each do |p| %>
        <%= f.hidden_field :available_add_ons, :name => "shipping_label[available_add_ons][" + code + "][prohibited_add_ons][]", :value => p %>
  	  <% end %>
    <% end %>    
  <% end %>
<% end %>