<%= fields_for @shipping_label do |f| %>
	<% add_on_codes.each do |add_on_code| %>
	  <div id ="<%= add_on_code[:add_on_type] %>">
		  <%= f.check_box :add_on_codes, { :id => "shipping_label_#{add_on_code[:add_on_type]}", :name => :"shipping_label[add_on_codes][]" }, add_on_code[:add_on_type], nil %>
	    <%= f.label add_on_code[:add_on_type], Stamps::Types::ADD_ONS[add_on_code[:add_on_type]] %>
    </div>
    <% if add_on_code[:add_on_type] == "US-A-INS" %>
      <div class="insurance">
        <%= f.label :insurance_amount %><br>
        <%= f.text_field :insurance_amount %>
      </div>
    <% end %>
    <% if add_on_code[:add_on_type] == "US-A-COD" %>
      <div class="cod">
        <%= f.label :collect_on_delivery, "COD amount" %><br>
        <%= f.text_field :collect_on_delivery %>
      </div>
    <% end %>

    <%= f.hidden_field :"shipping_label[available_add_ons][]", add_on_code %>
	<% end %>

  <!-- TODO persist this info by sending it in the main form as hidden fields -->
  <%= @required_add_ons.each do |blah| %>
    <%= f.hidden_field :prohibited_add_ons, [] %>

  <% end %>

  <%= f.hidden_field :required_add_ons, ['hello', 'there'] %>



<% end %>