<%= form_for(@shipping_label) do |f| %>
  <% if @shipping_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_label.errors.count, "error") %> prohibited this shipping_label from being saved:</h2>

      <ul>
      <% @shipping_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Package Deatails</h3>
  <div class="field">
    <%= f.label :item, "Type" %><br />
    <!-- Displays the different types of packages that can be sent -->
    <!-- TODO: Match the package with the correct service types and display only the correct ones with each type of package -->
    <%= f.select :item, Stamps::Types::PACKAGE %>
  </div>
  <div class="field">
    <%= f.label :service_type %><br />
    <!-- Displays the service types that can be used for any given package -->
    <!-- Displays the full name of the service with the value equaling the shorthand -->
    <%= f.select :service_type, Stamps::Types::SERVICE.map { |s| [ s[1], s[0] ] } %>
  </div>
  <div class="field">
    <% Stamps::Types::ADD_ONS.each do |add_on_code, add_on_name| %>
      <%= check_box_tag add_on_code %>
      <%= label_tag add_on_code, add_on_name %>
      <br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
    <div class="field">
    <%= label_tag 'Ship Date' %><br />
    <%= date_select :shipping_label, :ship_date, :start_year => Date.today.year %>
  </div>
<!--   <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div> -->

  <h3>From Address</h3>
  <%= f.fields_for :from_address do |a| %>
    <div>
      <%= a.label :full_name %><br />
      <%= a.text_field :full_name %>
    </div>
    <div>
      <%= a.label :address1 %><br />
      <%= a.text_field :address1 %>
    </div>
    <div>
      <%= a.label :city %><br />
      <%= a.text_field :city %>
    </div>
    <div>
      <%= a.label :state %><br />
      <%= a.text_field :state %>
    </div>
    <div>
      <%= a.label :zip_code %><br />
      <%= a.text_field :zip_code %>
    </div>
    <!-- TODO Fill in with other attributes -->
  <% end %>

  <h3>To Address</h3>
  <%= f.fields_for :to_address do |a| %>
    <div>
      <%= a.label :full_name %><br />
      <%= a.text_field :full_name %>
    </div>
    <div>
      <%= a.label :address1 %><br />
      <%= a.text_field :address1 %>
    </div>
    <div>
      <%= a.label :city %><br />
      <%= a.text_field :city %>
    </div>
    <div>
      <%= a.label :state %><br />
      <%= a.text_field :state %>
    </div>
    <div>
      <%= a.label :zip_code %><br />
      <%= a.text_field :zip_code %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Print Label' %>
  </div>
<% end %>
