<%= form_for(@shipping_label) do |f| %>
  <% if @shipping_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_label.errors.count, "error") %> prohibited this shipping_label from being saved:</h2>

      <ul>
      <% @shipping_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Package Deatails</h3>
  <div class="field">
    <%= f.label :item, "Type" %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
    <div class="field">
    <%= label_tag 'Ship Date' %><br />
    <%= select_date Date.today, :start_year => Date.today.year %>
  </div>
<!--   <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div> -->

  <h3>From Address</h3>
  <%= f.fields_for :from_address do |a| %>
    <div>
      <%= a.label :full_name %><br />
      <%= a.text_field :full_name %>
    </div>
    <div>
      <%= a.label :address1 %><br />
      <%= a.text_field :address1 %>
    </div>
    <div>
      <%= a.label :city %><br />
      <%= a.text_field :city %>
    </div>
    <div>
      <%= a.label :state %><br />
      <%= a.text_field :state %>
    </div>
    <div>
      <%= a.label :zip_code %><br />
      <%= a.text_field :zip_code %>
    </div>
    <!-- TODO Fill in with other attributes -->
  <% end %>

  <h3>To Address</h3>
  <%= f.fields_for :to_address do |a| %>
    <div>
      <%= a.label :full_name %><br />
      <%= a.text_field :full_name %>
    </div>
    <div>
      <%= a.label :address1 %><br />
      <%= a.text_field :address1 %>
    </div>
    <div>
      <%= a.label :city %><br />
      <%= a.text_field :city %>
    </div>
    <div>
      <%= a.label :state %><br />
      <%= a.text_field :state %>
    </div>
    <div>
      <%= a.label :zip_code %><br />
      <%= a.text_field :zip_code %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Print Label' %>
  </div>
<% end %>
