<%= form_for(@shipping_label) do |f| %>
  <% if @shipping_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_label.errors.count, "error") %> prohibited this shipping_label from being saved:</h2>

      <ul>
      <% @shipping_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
