<h1>Listing shipping_labels</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Weight</th>
    <th>From</th>
    <th>To</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shipping_labels.each do |shipping_label| %>
  <tr>
    <td><%= shipping_label.item %></td>
    <td><%= shipping_label.weight %></td>
    <td><%= shipping_label.from %></td>
    <td><%= shipping_label.to %></td>
    <td><%= link_to 'Show', shipping_label %></td>
    <td><%= link_to 'Edit', edit_shipping_label_path(shipping_label) %></td>
    <td><%= link_to 'Destroy', shipping_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipping label', new_shipping_label_path %>
